/*variable css*/
:root {
  /*base colors*/
  --clr-light: rgba(255, 255, 255);
  --clr-dark: rgba(0, 0, 0);

  /*primary colors*/
  --clr-primary: rgba(88, 0, 89);

  /* validation color */
  --clr-valid: #4caf50;
  --clr-not-valid: #f44336;

  /*gradient colors*/
  --clr-gradient-violet: rgba(252, 0, 255);
  --clr-gradient-blue: rgba(0, 219, 222);
  --gradient-violet-blue: linear-gradient(
    90deg,
    var(--clr-gradient-violet),
    var(--clr-gradient-blue)
  );
  --gradient-dark-dark: linear-gradient(
    90deg,
    var(--clr-neutral-410-a),
    var(--clr-neutral-400-a)
  );

  /*neutral colors*/
  --clr-neutral-150: rgba(188, 188, 188);
  --clr-neutral-200: rgba(117, 117, 117);
  --clr-neutral-300: rgba(33, 33, 33);
  --clr-neutral-350: rgba(16, 16, 16);
  --clr-neutral-410-a: rgba(0, 0, 0, 60%);
  --clr-neutral-400-a: rgba(0, 0, 0, 80%);
  --clr-neutral-400: rgba(0, 0, 0);

  /*font-size*/
  --type-heading-h1: clamp(2.5rem, 10vw, 3.5rem);
  --type-p-large: clamp(1rem, 3vw, 1.25rem);
  --type-p: clamp(1rem, 3vw, 1.25rem);
  --type-p-small: 0.875rem;

  /*line height*/
  --line-height-400: 120%;
  --line-height-500: 150%;

  /*letter spacing*/
  --letter-spacing-400: -0.1rem;
}

/*utility css*/

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
:after,
:before {
  box-sizing: inherit;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

body {
  color: var(--clr-dark);
  font-family: "Inter", sans-serif;
}

.df {
  display: flex;
}

.df-ac {
  display: flex;
  align-items: center;
}

.df-ac-jc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-heading-h1 {
  color: var(--clr-primary);
  font-size: var(--type-heading-h1);
  line-height: var(--line-height-400);
  margin-block-end: 1.5rem;
}

.type-large {
  color: var(--clr-neutral-300);
  font-size: var(--type-p-large);
  font-weight: 400;
  line-height: var(--line-height-500);
}

.type-heading-h5 {
  color: var(--clr-primary);
  font-size: var(--type-p-large);
  font-weight: 600;
}

.primary-button-filled {
  color: var(--clr-light);
  cursor: pointer;
  background-color: var(--clr-primary);
  border: none;
  border-radius: 0.5rem;
  font-size: var(--type-p-large);
  font-weight: 700;
  line-height: var(--line-height-400);
  outline: none;
  padding-block: 1.25rem;
  width: 100%;
}

.primary-button-filled:hover {
  background: var(--gradient-violet-blue);
}

.primary-button-filled:hover::after {
  content: "";
  background: var(--gradient-violet-blue);
  border-radius: inherit;
  filter: blur(2rem);
  inset: 0;
  top: 1.5rem;
  position: absolute;
  opacity: 0.64;
  transform: translateY(0.5rem);
  z-index: -1;
}

.primary-button-filled:hover::before {
  content: "";
  background: var(--gradient-violet-blue);
  border-radius: inherit;
  filter: blur(1.25rem);
  inset: 0;
  top: 1rem;
  bottom: 1rem;
  position: absolute;
  opacity: 0.24;
  transform: translateY(1rem);
  z-index: -1;
}

/*main css*/

.news-letter-section {
  background: var(--gradient-dark-dark), var(--clr-primary);
  height: 100dvh;
  width: 100%;
}

.news-letter-wrapper {
  height: 100%;
}

.news-letter-container {
  background-color: var(--clr-light);
  border-radius: 1.25rem;
  box-shadow: 8px 24px 88px 0px rgba(18, 0, 18, 0.6);
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  max-width: 72rem;
  width: 100%;
}

.text-container {
  margin-block: auto;
  padding-block: clamp(40px, 6.2vw, 80px);
  padding-inline: clamp(24px, 2.5vw, 48px);
  max-width: 37rem;
  width: 100%;
}

.image-container {
  max-width: 45%;
  width: 100%;
}

.news-letter-img {
  height: 100%;
}

.news-letter-img > img {
  aspect-ratio: 3/4;
  border-radius: 1rem;
  object-fit: cover;
  transform: scaleX(-1);
}

.news-letter-feature-list {
  flex-direction: column;
  gap: 1.25rem;
  margin-block: 2.5rem;
  width: 100%;
}

.news-letter-feature-list > li {
  gap: 0.75rem;
}

.news-letter-feature-list > li::before {
  content: "";
  background: var(--clr-primary);
  border-radius: 100rem;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
}

.form {
  width: 100%;
}

.form-row {
  --_label-validation-padding: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row > label {
  font-size: var(--type-p-small);
  font-weight: 600;
  padding-inline: var(--_label-validation-padding);
}

.form-row > input {
  color: var(--clr-dark);
  font-family: inherit;
  font-size: var(--type-p);
  border: 1px solid var(--clr-neutral-150);
  border-radius: 0.5rem;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}

.email-input:focus-visible {
  outline: 2px solid var(--clr-primary);
}

.email-input:focus-visible.not-valid {
  outline: 2px solid var(--clr-not-valid);
}

.validation {
  font-size: var(--type-p-small);
  font-weight: 400;
  padding-inline: var(--_label-validation-padding);
}

.validation.valid {
  color: var(--clr-valid);
}

.validation.not-valid {
  color: var(--clr-not-valid);
}

.subscribe-button-container {
  margin-block-start: 1.5rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* media queries */

@media screen and (max-width: 80em) {
  /* main css */
  .news-letter-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 75em) {
  /* main css */

  .news-letter-section {
    display: block;
    height: 100%;
  }

  .news-letter-container {
    border-radius: 0;
  }

  .news-letter-img > img {
    border-radius: 0 0 1rem 1rem;
  }

  .image-container {
    max-width: 100%;
  }

  .news-letter-container {
    box-shadow: none;
    flex-wrap: wrap-reverse;
    gap: 0;
    max-width: 100%;
    padding: 0;
  }

  .news-letter-img > img {
    aspect-ratio: 4/3;
  }

  .text-container {
    min-width: 100%;
  }
}