.news-letter-container {
  max-width: 32rem;
  padding: 0;
}

.text-container {
  flex-direction: column;
  min-width: 100%;
  padding: 4.5rem;
}

.subscribe-button-container {
  margin-block-start: 2.5rem;
}

.user-email {
  color: var(--clr-dark);
  font-weight: 600;
  overflow-wrap: break-word;
}

.news-letter-heading {
  position: relative;
}

.success-icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(22%) translateX(100%);
}

/* media queries */

@media screen and (max-width: 80em) {
  /* main css */
  /* .news-letter-container {
    max-width: 32rem;
  } */
}

@media screen and (max-width: 75em) {
  .news-letter-section {
    display: flex;
    height: 100dvh;
  }

  .news-letter-container {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 44em) {
  .news-letter-container {
    border-radius: 0;
    height: 100dvh;
    max-width: 100%;
  }

  .text-container {
    padding-block: 0;
    padding-inline: 2.5rem;
    height: 100%;
    justify-content: space-between;
    padding-block: 5rem;
  }

  .success-icon {
    position: relative;
    transform: translateX(0);
    margin-block-end: 1.5rem;
  }
}
